.env
db.sqlite3

# Ignore Python bytecode files
__pycache__/

# Ignore Django migrations
**/migrations/

# Ignore Django static files


# Ignore uploaded media files
media/

datadump.json
dev_app/views/views.py
create_superuser_script.py
.vercel
